<% include ./partials/header.ejs %>

    <!-- HEADER -->
    <div
        class="header h-14 border-white-2 flex flex-row items-center shadow-md fixed top-0 left-0 w-full z-10 bg-red-400">

        <img src="/images/logo.svg" alt="logo">
        <h2 class="font-bold text-lg text-purple-600 font-poppins">Snapnest</h2>

        <div class="flex flex-row gap-2 ml-auto mr-4">
            <a href="/" class="mt-2 px-5 py-2 text-sm font-semibold">Home</a>
            <a href="/feed" class="mt-2 px-5 py-2 text-sm font-semibold">Feed</a>
            <a href="/logout" class="mt-2 px-5 py-2 bg-red-600 rounded-md text-sm font-semibold">Logout</a>
        </div>

    </div>

   <div class="bg-[url('https://i.pinimg.com/1200x/b4/91/a5/b491a504a2c5714dc218349d7c8632ca.jpg')]
            bg-cover bg-center h-screen w-full flex justify-center items-start pt-28">

    <div class="cards flex flex-wrap justify-center items-start gap-10 bg-red-300 w-auto rounded-md p-6">

        <% user.posts.forEach(function(elem) { %>

            <div class="w- card">
                <div class="w-full h-48 bg-white border-2 border-white rounded-lg overflow-hidden">
                    <img src="/images/uploads/<%= elem.image %>" 
                         alt="Post" 
                         class="w-full h-full object-cover">
                </div>

                <h5 class="mt-2 text-sm font-poppins">
                    <%= elem.title %>
                </h5>
            </div>

        <% }) %>

    </div>
</div>




    <% include ./partials/footer.ejs %>